$colors: (
  primary: #036FBC,
  secondary: #ccc,
  tertiary: #eee,
  text: #333,
  invert: #fff,
  dark-gray: #333,
  gray: #999,
  light-gray: #ddd,
  red: #ff4136,
  blue: #477dca,
  yellow: #ffdc00,
  orange: #ff851b
);