/*
Theme Name: Snappy - ThatHealthShop.vn
Theme URI: http://moztheme.com/
Author: Tung Du
Author URI: http://dinhtung.info
Description: Child theme for snappy
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: snappy
*/
@charset "UTF-8";
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "base/mixins";
@import "base/functions";
@import "base/variables";
@import "neat/neat";


#masthead {
  .search-form {
    margin-left: auto;
    margin-right: auto;
  }

  .col-last {
    text-align: right;
    margin-top: 1.5em;
  }
}
.snappy-menu-wrapper {
  border-bottom: 1px solid rgba(color(light-gray), 0.5)
}

.border {
  border-bottom: 1px solid color(light-gray, fade);
  @include clearfix();
  float: none;
  margin-bottom: 1.5em;
}
  
.home-products {
  margin-top: 2em;

  h2 {
    border-bottom: 2px solid color(primary, shade);
    padding-bottom: 5px;

    a {
      border-bottom: 2px solid color(primary, gray);
      padding-bottom: 3px;
      color: color(text);
    }
  }

  li.product {
    margin-bottom: 1em !important;

    h3 {
      font-weight: 400;
      color: color(text);
      padding-top: 0 !important;
    }

    .price {
      color: color(primary) !important;
      font-weight: 700 !important;
    }
  }

}

footer#colophon {
  background: #f4f4f4;
  padding-top: 2.5em;
  padding-bottom: 1em;

  a {
    color: #333;
    font-size: 0.85em;

    &:hover {
      color: color(primary, dark);
    }
  }
  
  .ftwg {
    float: left;
    width: 100%;
    margin-right: 3%;
    margin-top: 2em;

    @include media($medium-screen) {
      width: 20%;
    }
  }

  .ft-4 {
    margin-right: 0;
  }

  .widget-title {
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 1.5em;
  }

  .ft-1 {
    @include media($medium-screen) {
      width: 31%;
    }

    .textwidget {
      font-size: 0.85em;
      color: color(text,fade);
    }

    img {
      display: block;
      width: 120px;
      margin: 0 auto;
      opacity: 0.6;
    }
  }

  li {
    line-height: 1;
    margin-bottom: 1em;
  }

  .site-info {
    background: color(dark-gray);
    color: white;
    padding-top: 1.5em;
    padding-bottom: 1em;
    margin-top: 1em;

    a {
      color: white;
    }

    .textwidget {
      font-size: 0.8125em;
    }

    ul.menu {
      margin-top: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid color(dark-gray, light);
      display: inline-block;

      a {
        font-size: 0.8125em;
      }
      li {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  } //.site-info
} //footer#colophon

@include media(max-width 768px) {
  .woocommerce.columns-6 ul.products li.product {
    width: 30%;
    clear: none;
    margin-right: 5%;
  }
  .woocommerce ul.products li.product:nth-child(2n) {
    float: left;
  }
  .woocommerce ul.products li.product:nth-of-type(2n) {
    float: left;
  }
  .woocommerce ul.products li.product:nth-of-type(3n) {
    float: right;
    clear: none;
    margin-right: 0;
  }
  .woocommerce ul.products li.product:nth-of-type(3n+1) {
    clear: both !important;
  }
}

.archive.woocommerce {
  ul.products {
    li.product {
      width: 30%;
      clear: none;
      margin-right: 5%;

      &:nth-of-type(3n) {
        float: right;
        clear: none;
        margin-right: 0;
      }
    }
  }
}